<nav>
    <div data-role="appbar" data-expand-point="md">
        <ul class="app-bar-menu">
        <li><a href="">Home</a></li>
        <li>
            <a href="#" class="dropdown-toggle">Serviços</a>
            <ul class="d-menu" data-role="dropdown">
                <li><a href="#">Serviços Administrativos</a></li>
{#                <li class="divider bg-lightGray"></li>#}
                <li><a href="#">Especialidades</a></li>
                <li><a href="#">Serviços de Enfermagem</a></li>
            </ul>
        </li>
        <li><a href="#">Contactos</a></li>
        <li><a href="#">Meu Perfil</a></li>
    </ul>
    </div>
</nav>